
body {
    background-color: khaki;
/* .selectButton {
    flex-direction: row;
    justify-content: center/space-around;
    text-align: center;
    padding-right: .25rem;
    padding-left: .25rem;
    flex-direction: row;
    justify-content: center;
    text-align: center; 
    border-radius: 25px;
    font-weight: bold;
    text-shadow: 0px 1px 1px #A4A7A5;    
}  */


    font-family: Helvetica, sans-serif;
}

h1{
    font-size: 50px;
    font-weight: 800;
}

/* monkey image */
.monkey {
    display: block;
    width: 30%;
    height: 300px;
    margin-top: 22%;
    margin-left: 46%;
    margin-right: 54%;
    position:relative;
}

.hide-monkey {
    display: none;
}

/* monkey image */
.monkey {
    display: block;
    width: 30%;
    height: 300px;
    margin-top: 22%;
    margin-left: 46%;
    margin-right: 54%;
    position:relative;
}

.hide-monkey {
    display: none;
}

/* Selection Classes */

.selectionItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    overflow: hidden;
    border: none;

    border-radius: 25px;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 2px;
    color: white;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.selectionItem.completed {
    opacity: 0.7;
    cursor: pointer;
    cursor: auto;
}

.is-completed {
    background-color: green;
}

/* Buttons Classes */

.backToSelection{
    border-radius: 15px;
    border-style: solid;
    border-color:red;
    background-color: lightskyblue;
}

/* .btn {

}

.btn-primary {

}

.btn-secondary {

} */

/* Modal Classes */
.modal-content {
    background-color: #ffffff;
}

.modal-content h2{
    font-size: 36px;
    font-weight: 600;
}

.modal-body {
    padding: 20px;
}

/* Background Image Classes */

.selectionItem.mammals {
    background-image: url("../images/mammals.jpg"); 
}

.selectionItem.fish {
    background-image: url("../images/fish.jpg"); 
}

.selectionItem.insects {
    background-image: url("../images/insects.jpg"); 
}

.selectionItem.reptiles {
    background-image: url("../images/reptiles.jpg"); 
}

.selectionItem.birds {
    background-image: url("../images/birds.jpg"); 
}

.selectionItem.whale {
    background-image: url("../images/whale.jpg");
}

.selectionItem.zebra {
    background-image: url("../images/zebra.jpg");
}

.selectionItem.baboon {
    background-image: url("../images/baboon.jpg");
}

.selectionItem.polar_bear {
    background-image: url("../images/polar-bear.jpg");
}

.selectionItem.wombat {
    background-image: url("../images/wombat.jpg");
}

.selectionItem.piranha {
    background-image: url("../images/piranha.jpg");
}

.selectionItem.whale_shark {
    background-image: url("../images/whale-shark.jpg");
}

.selectionItem.jellyfish {
    background-image: url("../images/jellyfish.jpg");
}

.selectionItem.clownfish {
    background-image: url("../images/clownfish.jpg");
}

.selectionItem.anglerfish {
    background-image: url("../images/angler-fish.jpg");
}

.selectionItem.ant {
    background-image: url("../images/ant.jpg");
}

.selectionItem.grasshopper {
    background-image: url("../images/grasshopper.jpg");
}

.selectionItem.lady_bug {
    background-image: url("../images/ladybug.jpg");
}

.selectionItem.roaches {
    background-image: url("../images/cockroach.jpg");
}

.selectionItem.praying_mantis {
    background-image: url("../images/praying-mantis.jpg");
}

.selectionItem.hummingbird {
    background-image: url("../images/hummingbird.jpg");
}
.selectionItem.eagle {
    background-image: url("../images/golden-eagle.jpg");
}
.selectionItem.toucan {
    background-image: url("../images/toucan.jpg");
}
.selectionItem.pink_flamingo {
    background-image: url("../images/flamingo.jpg");
}
.selectionItem.ostrich {
    background-image: url("../images/ostrich.jpg");
}

.selectionItem.komodo_dragon {
    background-image: url("../images/komodo-dragon.jpg");
}
.selectionItem.rattlesnake {
    background-image: url("../images/rattlesnake.jpg");
}
.selectionItem.crocodile {
    background-image: url("../images/crocodile.jpg");
}
.selectionItem.tortoise {
    background-image: url("../images/galapogos-tortoise.jpg");
}
.selectionItem.anaconda {
    background-image: url("../images/anaconda.jpg");
}

.selectionItem:hover{
    transform: scale(1.05);
}

