body {
    font-family: ui-sans-serif;
}

/* .startPage {
    display:
} */

img {
    height: 30;
    max-width: 30%;
}

/* .selectionWrapper {
    box is-15-tablet is-20-desktop has-text-centered mt-6
} */


/* .startButton {
    display: block;
    flex-direction: row;
    justify-content: center/space-around;
    text-align: center;
	font-weight: bold;
	text-shadow: 0px 1px 1px #A4A7A5;
} */

/* Button classes */
.animalType {
    display: block;
    flex-direction: column;
    justify-content: center/space-around;
    text-align: center;
    font-weight: bold;
	text-shadow: 0px 1px 1px #A4A7A5;
}

.animalSelection {
    display: block;
    flex-direction: row;
    justify-content: center/space-around;
    text-align: center;
	font-weight: bold;
	text-shadow: 0px 1px 1px #A4A7A5;
}

/* Data Types */
.animalCompleted {
    display: block;
    flex-direction: row;
    justify-content: center/space-around;
}